@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'tailwindcss';

body {
  border: none;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
