@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'tailwindcss';

body {
  border: none;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

@layer utilities {
  @media (max-width: 768px) {
    .container {
      max-width: 768;
    }
  }

  @media (min-width: 1200px) {
    .container {
      padding-left: 6rem;
      padding-right: 6rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 10s linear infinite;
}
